<% include ./partials/header %>

<div id="bg">
		<h1 class="display-1">CookiBooki</h1>
		<h3 class="display-4">The platform for searching recipes</h3>
	</div>
	
	

	
	<div class="container">
			<div class="jumbotron">	
		<div class="row">
            
                <% recipes.forEach(function(recipe){ %>
                    <div class="col-6 col-md-3">
                            <div class="img-thumbnail" id=" <%= recipe.id %>">
                                <img class="recipe"  src="<%= recipe.image %>"  alt="">
								<a href="/recipes/<%= recipe._id %>"><%= recipe.title %></a>
                            </div>
                        </div>

                <% }); %>

		</div>
	</div>
	</div>	



<% include ./partials/footer %>