<% include ./partials/header %>

<div class="container new-recipe">
  <div class="jumbotron">
    <h1 class="display-4"><%= recipe.title %></h1>
    <p class="lead"><%= recipe.created.toDateString() %></p>
    <hr class="my-4">
    <div class="d-flex justify-content-between">
     <img class="recipe align-self-start"  src="<%= recipe.image %>"  alt="">
      <p><%= recipe.body %></p>
    </div>
    
  </div>
</div>
<% include ./partials/footer %>